.ProductPage {
  display: flex;
  width: 50%;
  margin: 2rem auto;
  gap: 5rem;
  justify-content: space-between;
}

button {
  margin: 1rem;
  padding: 1rem;
}

.AddButton > button:active {
  background-color: black;
}

.AddButton > button:disabled {
  color: white;
}

.AddButton > button:disabled:active {
  background-color: #b8b4b4;
}

.ProductImage {
  & > img {
    width: 30rem;
    border: 0.1rem solid black;
  }
}

.ProductDetails {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

form > select {
  text-align: center;
  width: 47.5%;
}
