.ProductPage {
  display: flex;
  width: 50%;
  margin: 2rem auto;
  gap: 2rem;
}

img {
  width: 25rem;
}

form {
  display: flex;
  flex-direction: column;
}

button {
  margin: 1rem;
}

button:active {
  background-color: black;
}

form > select {
  text-align: center;
}

form > input {
  text-align: center;
}
