.Nav_Link {
  margin: 15px;
  text-decoration: none;
  font-weight: 700;
  color: gray;
}

.Link_Active {
  color: white;
  transition: 0.2s color ease-in;

  &:visited {
    color: white;
  }
}

nav {
  @media only screen and (max-width: 499px) {
    font-size: 75%;
    padding-bottom: 1rem;
  }

  font-size: 1.5rem;
  background-color: black;
  padding-bottom: 2rem;
  color: white;
}
