.ProductCard {
  border: 2px solid white;
  padding: 2rem;
  border-radius: 2rem;
  width: 15rem;
  font-size: 0.8rem;
  cursor: pointer;
}

.ProductCard img {
  width: 10rem;
}

.ProductCard:hover {
  box-shadow: 0 0 20px;
  transition: 0.1s box-shadow ease-in-out;
}
